<table class="table table-striped">  
    <thead>  
        <tr>  
          <th>postId</th>  
          <th>id</th>  
          <th>name</th>
          <th>email</th>
          <th>body</th>
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let comment of comments">  
        <td>{{ comment.postId }}</td>  
        <td>{{ comment.id }}</td>  
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
        <td>{{ comment.body }}</td>
      </tr>  
    </tbody>  
  </table>  